@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');
.portfolio-mainitems{
    padding:2rem 0;
}
.portfolio-bannner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../Assets/port1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}
.portfolio-bannner h1{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
    color: #ffffff;
}

.portfolio-mainitems p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    padding: 0 2rem;
    margin: 2rem 0;
}

/* button section */

.btn-group{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0px 0px 50px auto;
}
.btn-group-item.active{
    color: #ffffff;
    background-color: #e87a3b;
}
.btn-group button{
    padding: 8px 30px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid #e87a3b;
    transition: 0.5s linear;
    color: #e87a3b;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.btn-group button:hover{
    color: #e87a3b;
    background-color: #ffffff;
}
.pro-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color:  #e87a3b; */
    background-image: linear-gradient(214deg, rgb(232,122,59),rgba(252,156,51, 0.82));
    color: white;
}

.pro-card .project-about{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
    margin: 1rem 0;
}
.card-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0.5rem;
}
.card-section .pro-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    border-radius: 10px;
    margin: 0.5rem 0.5rem;
}
.card-section .pro-card img{
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    
}
.card-section .pro-card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



@media only screen and (max-width: 800px) {
    .portfolio-mainitems{
        padding:1rem 0;
    }
    .portfolio-mainitems p{
        font-size: 1.2rem;
        padding: 0.5rem;
        margin: 1rem 0;
    }
    .card-section .pro-card{
        width: 100%;
    }
    .pro-card .project-about{
        font-size: 14px;
        margin: 0.4rem 0;
    }
}